# Databricks integration tests and dbt
DATABRICKS_CONFIG_PROFILE=databricks-dev
DATABRICKS_TEST_CATALOG=
DATABRICKS_DEV_CATALOG=
DATABRICKS_HOST=dbc-bcaf62db-c2ea.cloud.databricks.com
DATABRICKS_SQL_HTTP_PATH=

# Local Python CLI configuration; no secrets here.
GITHUB_ANALYTICS_CATALOG=
GITHUB_ANALYTICS_OWNER=
GITHUB_ANALYTICS_REPOSITORY=
GITHUB_ANALYTICS_TOKEN_SECRET_SCOPE=
GITHUB_ANALYTICS_TOKEN_SECRET_KEY=
