.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
**/explorations/**
**/!explorations/README.md
.pytest_cache/
.env
.coverage
htmlcov/
notes/

# dbt local execution artifacts
dbt/logs/
dbt/target/
dbt/.user.yml
dbt_packages/
